
p {
    font-size: 14px;
    line-height: 2em;
    margin-bottom: 12px;
}

h2 {;
    margin: auto auto;
    width: max-content;
}

.ham {
    margin: 20px auto;
    padding: 20px;
    width: auto;
    border: black solid 1px;
}

.centered-bordered {
    border: black solid 1px;
    background: lightgray;
    margin: 5px
}

.width-fixed {
    width: 300px;
}

.width-percentage {
    width: 50%;
}

.inline-block {
    display: inline-block;
}

.masked-block {
    border: solid 1px black;
    margin: 5px;
    padding: 5px;
    display: inline-block;
}