.box {
    border-radius: 200px;
    border: 1px solid black;
    height: 200px;
    width: 200px;
    text-align: center;
    position: absolute;
}

.circle-1{
    background: rgba(200, 138, 428, 0.2);
    }
.circle-2{
    background: rgba(150, 638, 128, 0.2);
    left: 100px;
}
.circle-3{
    background: rgba(440, 12, 298, 0.2);
    top: 100px;
    left: 50px;
}