#article_list article:nth-of-type(even) {
    background: gray;
}

#article_list article:nth-of-type(odd){
    background: burlywood;
}

article.featured-content {
    background: aqua;
}

div.featured-content {
    background: darkslateblue;
}