p {
    color: green !important;
}

#main-content p{
    color: purple !important;
}

p {
    color: red !important;
}

#main-content p{
    color: black !important;
}

p, a , span, li {
    font-size: 19px;
    font-family: Arial, serif;
    color: deeppink
}