/* External Style Sheet */

#header {
    position: absolute;
    top: 0;
    left: 0;
}

h1 {
    font-size: 32px;
    color: black;
}

div {
    background: gray;
}

p {
    color: red;
}

span {
    text-transform: uppercase;
}