body {
    background: #eee;
    margin: 0;
    font-family: Arial, serif;
}

#wrapper {
    width: 980px;
    margin: 0 auto;
}

#main-navigation {
    background: #181818;
    padding: 10px;
}

#main-navigation a.current {
    background: #8f746c;
    border-radius: 5px;
}

#main-navigation a {
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
}

#main-navigation ul {
    list-style-type: none;
    text-align: right;
}

#main-navigation ul li {
    display: inline-block;
    padding-right: 10px;
    /*Todo: why use margin-right here?*/
    /*margin-right: 10px;*/
}

#lead-banner img{
    width: 100%;
}

#shop{
    text-align: center;
    height: auto;
    background: #ffff;
}
.product-image{
    margin: 30px auto 10px auto;
}
.product-name{
  font-size: 16px;
    margin: 2px auto 0 auto;
}
.price{
  font-size: 58px;
}
#shop .add-to-bag {
    text-decoration: none;
    border: 2px solid #9f746c;
    padding: 10px;
    width: max-content;
    display: block;
    color: #8f746c;
    margin: 10px auto;
    font-size: 14px;
    text-transform: uppercase;
}

#footer-banner{
    width: 100%;
}