body {
    background: #eee;
    margin: 0;
}

#wrapper {
    width: 980px;
    margin: 0 auto;
}

#main-navigation {
    background: #181818;
    padding: 10px;
}

#main-navigation a.current {
    background: #8f746c;
    border-radius: 5px;
}

#main-navigation a {
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    font-family: Arial, serif;
    text-decoration: none;
    padding: 10px;
}

#main-navigation ul {
    list-style-type: none;
    text-align: right;
}

#main-navigation ul li {
    display: inline-block;
    padding-right: 10px;
    /*Todo: why use margin-right here?*/
    /*margin-right: 10px;*/
}